<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>goRepositoryPattern Email Notifications</title>
  </head>

  <body class="">
    <div>
      <div>
        <div>
          <div>
            <div>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                class="x_1188023740body"
                style="
                  border-collapse: separate;
                  background-color: rgb(246, 246, 246);
                  width: 100%;
                "
                width="100%"
                bgcolor="#f6f6f6"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        font-family: sans-serif;
                        font-size: 14px;
                        vertical-align: top;
                      "
                      valign="top"
                    >
                      &nbsp; <br />
                    </td>
                    <td
                      class="x_1188023740container"
                      style="
                        font-family: sans-serif;
                        font-size: 14px;
                        vertical-align: top;
                        display: block;
                        max-width: 580px;
                        padding: 10px;
                        width: 580px;
                        margin: 0 auto;
                      "
                      width="580"
                      valign="top"
                    >
                      <div
                        class="x_1188023740content"
                        style="
                          box-sizing: border-box;
                          display: block;
                          margin: 0 auto;
                          max-width: 580px;
                          padding: 20px;
                        "
                      >
                        <table
                          class="x_1188023740main"
                          style="
                            border-collapse: separate;
                            background: rgb(255, 255, 255);
                            border-radius: 3px;
                            width: 100%;
                          "
                          width="100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                class="x_1188023740wrapper"
                                style="
                                  font-family: sans-serif;
                                  font-size: 14px;
                                  vertical-align: top;
                                  box-sizing: border-box;
                                  padding: 40px;
                                "
                                valign="top"
                              >
                                <table
                                  border="0"
                                  cellpadding="0"
                                  cellspacing="0"
                                  style="border-collapse: separate; width: 100%"
                                  width="100%"
                                >
                                  <tbody>
                                    <div
                                      style="
                                        padding: 0px 0px 50px 0px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                      "
                                    >
                                      <img
                                        src=""
                                        alt="goRepositoryPattern"
                                        style="height: 100px; width: 280px"
                                      />
                                    </div>
                                    <tr>
                                      <td
                                        style="
                                          font-family: sans-serif;
                                          font-size: 14px;
                                          vertical-align: top;
                                        "
                                        valign="top"
                                      >
                                        <div>
                                          <span
                                            class="size"
                                            style="font-size: 13.3333px"
                                          >
                                            <span
                                              class="font"
                                              style="
                                                font-family: Calibri, Verdana,
                                                  Arial, sans-serif;
                                              "
                                            >
                                              Hello {{ .first_name}},
                                            </span>
                                            <br />
                                            <br />
                                            <span
                                              class="font"
                                              style="
                                                font-family: Calibri, Verdana,
                                                  Arial, sans-serif;
                                              "
                                            >
                                              Unfortunately, we were not able to
                                              verify your account, please
                                              re-upload your account
                                              verification documents. <br />
                                              <br />
                                              {{ .reason}}
                                            </span>
                                          </span>
                                        </div>
                                        <div>
                                          <span
                                            class="size"
                                            style="font-size: 13.3333px"
                                          >
                                            <span
                                              class="font"
                                              style="
                                                font-family: Calibri, Verdana,
                                                  Arial, sans-serif;
                                              "
                                            >
                                              <br />
                                            </span>
                                          </span>
                                        </div>
                                        <div>
                                          <span
                                            class="size"
                                            style="font-size: 13.3333px"
                                          >
                                            <span
                                              class="font"
                                              style="
                                                font-family: Calibri, Verdana,
                                                  Arial, sans-serif;
                                              "
                                            >
                                              Best Regards,
                                            </span>
                                            <span
                                              class="font"
                                              style="
                                                font-family: Calibri, Verdana,
                                                  Arial, sans-serif;
                                              "
                                            >
                                              <br />
                                            </span>
                                          </span>
                                        </div>
                                        <div>
                                          <span
                                            class="size"
                                            style="font-size: 13.3333px"
                                          >
                                            <span
                                              class="font"
                                              style="
                                                font-family: Calibri, Verdana,
                                                  Arial, sans-serif;
                                              "
                                            >
                                              goRepositoryPattern Team
                                            </span>
                                            <span
                                              class="font"
                                              style="
                                                font-family: Calibri, Verdana,
                                                  Arial, sans-serif;
                                              "
                                            >
                                              <br />
                                            </span>
                                          </span>
                                        </div>
                                        <div>
                                          <span
                                            class="font"
                                            style="
                                              font-family: Calibri, Verdana,
                                                Arial, sans-serif;
                                            "
                                          >
                                            <br />
                                          </span>
                                        </div>
                                        <div>
                                          <span
                                            class="size"
                                            style="font-size: 13.3333px"
                                          >
                                            <span
                                              class="highlight"
                                              style="
                                                background-color: rgb(
                                                  255,
                                                  255,
                                                  255
                                                );
                                              "
                                            >
                                              <span
                                                class="colour"
                                                style="color: rgb(0, 0, 0)"
                                              >
                                                <span
                                                  class="size"
                                                  style="
                                                    font-size: 14px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    letter-spacing: normal;
                                                    orphans: 2;
                                                    text-indent: 0px;
                                                    text-transform: none;
                                                    white-space: normal;
                                                    widows: 2;
                                                    word-spacing: 0px;
                                                    margin-bottom: 2px;
                                                  "
                                                >
                                                  <span
                                                    class="highlight"
                                                    style="
                                                      background-color: rgb(
                                                        255,
                                                        255,
                                                        255
                                                      );
                                                    "
                                                  >
                                                    <span
                                                      class="colour"
                                                      style="
                                                        color: rgb(0, 0, 0);
                                                      "
                                                    >
                                                      <span
                                                        class="size"
                                                        style="
                                                          font-size: 14px;
                                                          font-style: normal;
                                                          font-weight: 400;
                                                          letter-spacing: normal;
                                                          orphans: 2;
                                                          text-indent: 0px;
                                                          text-transform: none;
                                                          white-space: normal;
                                                          widows: 2;
                                                          word-spacing: 0px;
                                                          margin-bottom: 2px;
                                                        "
                                                      >
                                                        <span
                                                          class="highlight"
                                                          style="
                                                            background-color: rgb(
                                                              255,
                                                              255,
                                                              255
                                                            );
                                                          "
                                                        >
                                                          <span
                                                            class="colour"
                                                            style="
                                                              color: rgb(
                                                                0,
                                                                0,
                                                                0
                                                              );
                                                            "
                                                          >
                                                            <span
                                                              class="size"
                                                              style="
                                                                font-size: 14px;
                                                                font-style: normal;
                                                                font-weight: 400;
                                                                letter-spacing: normal;
                                                                orphans: 2;
                                                                text-indent: 0px;
                                                                text-transform: none;
                                                                white-space: normal;
                                                                widows: 2;
                                                                word-spacing: 0px;
                                                                margin-bottom: 2px;
                                                              "
                                                            >
                                                              <span
                                                                class="size"
                                                                style="
                                                                  font-size: 13.3333px;
                                                                "
                                                              >
                                                                <span
                                                                  class="size"
                                                                  style="
                                                                    font-size: 13.3333px;
                                                                  "
                                                                >
                                                                  <span
                                                                    class="font"
                                                                    style="
                                                                      font-family: Calibri,
                                                                        Verdana,
                                                                        Arial,
                                                                        sans-serif;
                                                                    "
                                                                  >
                                                                    We are
                                                                    always here
                                                                    to help, you
                                                                    can contact
                                                                    us at
                                                                  </span>
                                                                </span>
                                                                <span>
                                                                  <span
                                                                    class="size"
                                                                    style="
                                                                      font-size: 13.3333px;
                                                                    "
                                                                  >
                                                                    <span
                                                                      class="font"
                                                                      style="
                                                                        font-family: Calibri,
                                                                          Verdana,
                                                                          Arial,
                                                                          sans-serif;
                                                                      "
                                                                    >
                                                                      &nbsp;
                                                                    </span>
                                                                  </span>
                                                                </span>
                                                              </span>
                                                              <a
                                                                href="mailto:support@goRepositoryPatternapp.com"
                                                                target="_blank"
                                                                style="
                                                                  color: rgb(
                                                                    89,
                                                                    143,
                                                                    222
                                                                  );
                                                                  cursor: pointer;
                                                                "
                                                              >
                                                                <span
                                                                  class="size"
                                                                  style="
                                                                    font-size: 13.3333px;
                                                                  "
                                                                >
                                                                  <span
                                                                    class="size"
                                                                    style="
                                                                      font-size: 13.3333px;
                                                                    "
                                                                  >
                                                                    <span
                                                                      class="font"
                                                                      style="
                                                                        font-family: Calibri,
                                                                          Verdana,
                                                                          Arial,
                                                                          sans-serif;
                                                                      "
                                                                    >
                                                                      support@goRepositoryPatternapp.com
                                                                    </span>
                                                                  </span>
                                                                </span>
                                                              </a>
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </span>
                                                    </span>
                                                  </span>
                                                </span>
                                              </span>
                                            </span>
                                          </span>
                                          <a
                                            target="_blank"
                                            href="mailto:support@goRepositoryPatternapp.com"
                                          >
                                            <span
                                              class="size"
                                              style="
                                                font-size: 14px;
                                                margin-bottom: 16px;
                                              "
                                            >
                                            </span>
                                          </a>
                                          <span
                                            class="size"
                                            style="
                                              font-size: 14px;
                                              margin-bottom: 16px;
                                            "
                                          >
                                          </span>
                                          <br />
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div
                          class="x_1188023740footer"
                          style="
                            clear: both;
                            margin-top: 10px;
                            text-align: center;
                            width: 100%;
                          "
                        >
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            style="border-collapse: separate; width: 100%"
                            width="100%"
                          >
                            <tbody>
                              <tr>
                                <td
                                  style="
                                    font-family: sans-serif;
                                    vertical-align: top;
                                    color: rgb(153, 153, 153);
                                    font-size: 12px;
                                    text-align: center;
                                    height: 28px;
                                  "
                                  height="28.0"
                                  valign="top"
                                  align="center"
                                >
                                  &nbsp; <br />
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="
                                    font-family: sans-serif;
                                    vertical-align: top;
                                    padding-left: 24px;
                                    padding-right: 24px;
                                    text-align: center;
                                    font-size: 12px;
                                    color: rgb(75, 85, 99);
                                  "
                                  align="center"
                                  valign="top"
                                >
                                  <p
                                    style="
                                      font-weight: normal;
                                      margin: 0px 0px 4px;
                                      text-align: center;
                                    "
                                  >
                                    <span
                                      class="colour"
                                      style="color: rgb(153, 153, 153)"
                                    >
                                      <span
                                        class="font"
                                        style="font-family: sans-serif"
                                      >
                                        <span
                                          class="size"
                                          style="
                                            font-size: 12px;
                                            font-weight: normal;
                                            margin: 0px 0px 4px;
                                            text-align: center;
                                          "
                                        >
                                          Copyright © 2022 goRepositoryPattern
                                          LLC, All rights reserved. <br />
                                        </span>
                                      </span>
                                    </span>
                                  </p>
                                  <p
                                    style="
                                      font-weight: normal;
                                      margin: 0px 0px 12px;
                                      text-align: center;
                                    "
                                  >
                                    <span
                                      class="colour"
                                      style="color: rgb(153, 153, 153)"
                                    >
                                      <span
                                        class="font"
                                        style="font-family: sans-serif"
                                      >
                                        <span
                                          class="size"
                                          style="
                                            font-size: 12px;
                                            font-weight: normal;
                                            margin: 0px 0px 12px;
                                            text-align: center;
                                          "
                                        >
                                          <i style="margin-bottom: 12px">
                                            Investment made easy
                                          </i>
                                          <br />
                                        </span>
                                      </span>
                                    </span>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                    <td
                      style="
                        font-family: sans-serif;
                        font-size: 14px;
                        vertical-align: top;
                      "
                      valign="top"
                    >
                      &nbsp; <br />
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <br />
      </div>
    </div>
  </body>
</html>
